{% extends 'base.html' %}

{% block content %}
<!-- section login -->
<section id="latest-pitches" class="py-5 px-1 px-lg-3">
    <div class="container-fluid mt-5">
        <div class="section-title">
            <div class="pitches row mt-5 mx-0 justify-content-center">
                <div class="col-xl-5 col-lg-6 col-sm-8">
                    <div class="pitch-card px-3 py-4 bg-white">
                        <h2 class="fw-bold text-center fs-1">
                            {{error.code if error else '404'}}
                        </h2>
                        <p class="text-muted">{{error or ''}}</p>
                        <div class="text-center pt-5">
                            <a href="{{url_for('main.index')}}" class="btn btn-primary px-4">
                                Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login -->
{% endblock %}