<footer class="pt-5 pb-4 bg-secondary px-3">
    <div class="mx-0 row align-items-center">
        <div class="col-sm-4 order-1">
            <a class="navbar-brand" href="/">
                <img src="{{url_for("static", filename="images/logo-white.png")}}" alt="Logo" class="img-fluid">
            </a>
        </div>
        <div class="text-white order-3 order-md-2 mt-md-0 mt-5 text-center col-md-4">
            © 2022
        </div>
        <div class="col-sm-8 col-md-4 order-2 order-md-3 mt-md-0 mt-5">
            <a href="/" class="pe-2 text-white">Home</a>
            <a href="#" class="px-2 text-white">Business</a>
            <a href="#" class="px-2 text-white">Products</a>
            <a href="#" class="px-2 text-white">Pickup Lines</a>
        </div>
    </div>
</footer>