<div class="pitch-card px-3 pt-4 pb-3">
    <div class="d-flex">
        <div class="category">
            <span class="text-muted">Businesss</span>
        </div>
        <div class="date ms-auto">
            <span class="text-muted">1 month ago</span>
        </div>
    </div>
    <div class="details pt-3">
        <h2 class="title fw-bold fs-4">
            Lorem ipsum
        </h2>
        <p class="description text-muted text-sm">
            I was able to learn a large amount in a short amount of time. The practical nature
            helped me understand what we were trying to do, and how to achieve it.
        </p>

        <div class="voting d-flex align-items-center justify-content-between">
            <div class="">
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-5">message</span>
                    <span class="text-xxs ps-1">13</span>
                </button>
            </div>
            <div class="d-flex">
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-4 text-primary">expand_less</span>
                    <span class="text-xxs">13</span>
                </button>
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-4">expand_more</span>
                    <span class="text-xxs">0</span>
                </button>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="meta">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/26818458?s=40&v=4"
                        alt="username" class="user-pic rounded-circle">
                    <span class="name text-xs ps-1">
                        John Doe
                    </span>
                </div>
                <a href="#" class="read-more text-sm ms-auto">Read More</a>
            </div>
        </div>
    </div>
</div>