<div class="pitch-card px-3 pt-4 pb-3">
    <div class="d-flex">
        <div class="category">
            <a href="#" class="read-more text-sm ms-auto badge bg-primary text-white">{{pitch.category.name}}</a>
        </div>
        <div class="date ms-auto">
            <span class="text-muted">{{pitch.formatted_time}}</span>
        </div>
    </div>
    <div class="details pt-3">
        <h2 class="title fw-bold fs-4">
            {{pitch.title}}
        </h2>
        <p class="description text-muted text-sm">
            {{pitch.description}}
        </p>

        <div class="voting d-flex align-items-center justify-content-between">
            <div class="">
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-5">message</span>
                    <span class="text-xxs ps-1">{{pitch.comments.count()}}</span>
                </button>
            </div>
            <div class="d-flex">
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-4 text-primary">expand_less</span>
                    <span class="text-xxs">{{pitch.votes.filter_by(vote=1).count()}}</span>
                </button>
                <button class="btn d-flex align-items-center">
                    <span class="material-icons fs-4">expand_more</span>
                    <span class="text-xxs">{{pitch.votes.filter_by(vote=-1).count()}}</span>
                </button>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="meta">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                        {% if current_user.avatar %}
                        <img src="{{url_for('static', filename=current_user.avatar)}}"
                        alt="username" class="user-pic rounded-circle">
                        {% else %}
                        <span class="user-pic rounded-circle border d-flex align-items-center justify-content-center">
                            <span class="material-icons fs-4 text-primary">person</span>
                        </span>
                        {% endif %}
                    <span class="name text-xs ps-1">
                        {{pitch.user.name}}
                    </span>
                </div>
                <a href="#" class="read-more text-sm ms-auto">Read More</a>
            </div>
        </div>
    </div>
</div>